.headline{
  font-size: 40px;
  margin: 0;
  position: relative;
}
h1 a {
  width: 100px;
  height: 100px;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-delay: 1s;
  color: #fff;
    font-size: 30px;
    padding: 10px 10px 9px 10px;
    bottom: 6px;
}

@keyframes example {
  0%   { left:0px; top:0px;}
  25%  { left:200px; top:0px;}
  100% { left:0px; top:0px;}
}
h1 a:hover{
    color:orange
  }

  ul li a:active{
    color:red;
  }

.flex{
    flex-wrap: wrap;
}

.nav {
    display: flex;
    background-color: #e96100fa;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: Franklin Gothic Medium;
}
.nav-search{
  margin-top: 2px;
}
.comm {
    text-decoration: none;
    color: white;
}

.comm:hover {
    color: orange;
}

.main-nav {
    display: flex;
    margin-top: 3px;
}

.nav h1 {
    font-size: 40px;
    margin: 0;
    color: blue;
}

.nav ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    flex-wrap: wrap;

}

.nav li {
    padding-left: 15px;
    padding-top: 15px;
    cursor: pointer;
}

.nav li a {
    text-decoration: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 20px;
}

.nav li a:hover {
    color: orange;
}
nav a :hover {
    color: orange;
}
.nav input {
  flex: 1;
  height: 43px;
  border-right: 0px;
  width: 250px;
  padding-top: 3px;
  border: 1px solid #d9d9d9;
  border-radius: 5px 0px 0px 5px;
}

.nav button {
  margin-bottom: 0px;
  height: 43px;
  font-size: 20px;
  width: 102px;
  color: white;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 0px 5px 5px 0px;
}

.suggested-result {

    position: absolute;
    display:grid !important;
    z-index: 10;
    background-color: #192b3a;
    width: 288px;
    top: 49px;


}

.suggested-result li {
    border: 1px solid #ddd;
    padding: 5px;
}

.suggested-result li a {
    cursor: pointer;
    color: aliceblue;
}
.menu-list{
  animation-duration: 3s;
  animation-name: slidein;

}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
