<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fa fa-map"></i>
                        <div class="cta-text">
                            <h4>Find us</h4>
                            <span>1010 Avenue, sw 54321, jaipur</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fa fa-phone" data-bs-toggle="modal" data-bs-target="#exampleModal" ></i>
                        <div class="cta-text"  data-bs-toggle="modal" data-bs-target="#exampleModal"  >
                            <h4 data-bs-toggle="modal" data-bs-target="#exampleModal" >Call us</h4>
                            <span>7740893410 </span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fa fa-google-plus-square"></i>
                        <div class="cta-text">
                            <h4>Mail us</h4>
                            <span>murli@info.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <a href="index.html" class="footer-logo">
                        <img src="../../assets/download.jpg" alt="footer_logo" class="img-fluid">
                    </a>
                    <p class="footer-info-text">
                        No work can be accomplished without hard work, work is not done just by thinking, efforts have
                        to be made for them. </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">about</a></li>
                            <li><a href="#">services</a></li>
                            <li><a href="#">portfolio</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Expert Team</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Latest News</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Subscribe</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                        </div>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="text" placeholder="Email Address">
                                <button>
                                    <i class="fa fa-telegram" style="font-size: 28px;color: white;"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- modal  -->
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="containerr">
            <form action="/action_page.php">
              <label for="fname">First Name</label>
              <input class="inp" type="text" id="fname" name="firstname" placeholder="Your name..">
              <label for="lname">Last Name</label>
              <input class="inp" type="text" id="lname" name="lastname" placeholder="Your last name..">
              <label for="country">Country</label>
              <select id="country" name="country">
                <option value="australia">Australia</option>
                <option value="canada">Canada</option>
                <option value="usa">USA</option>
                <option value="india">INDIA</option>
                <option value="shreelanka">SHREELANKA</option>
                <option value="london">LONDON</option>
                <option value="qatar">QATAR</option>
                <option value="nigeria">NIGERIA</option>
                <option value="america">AMERICA</option>
                <option value="korea">KOREA</option>
              </select>
              <label for="lname">Mobile Number</label>
              <input class="inp" type="number" id="lname" name="Number" placeholder="Your Number..">
              <label for="subject">Subject</label>
              <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
              <input class="inp" type="submit" value="Submit">
            </form>
          </div>
    </div>
  </div>