.form-input{
    height: 35px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid black;

    color: blue;
}
.common-form{
    text-align: center;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 300px;
    padding: 15px;
}
.form-button{
    height: 35px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 18px;
    color: white;
    background-color: orange;
    padding-bottom: 20px;

}
.userr{
    cursor:pointer;
    color: blue;
    text-decoration: none;
}
.error-q{
    color: red;
}

