<ngb-carousel *ngIf="popularProducts">
  hello
    <ng-template  *ngFor="let item of popularProducts" ngbSlide>
      <div class="picsum-img-wrapper">
        <a routerLink="/details/{{item.id}}"> <img class="product-header-image" src="{{item.image}}" alt="Random first slide">
     </a>
        </div>
      <div class="carousel-caption">
        <h3>{{item.name}}</h3>
        <p>{{item.description}}</p>
      </div>
    </ng-template>
  </ngb-carousel>
<div class="product-list-wrapper">
<h1>Trendy Products</h1>
<div class="row">
  <div class="col-sm-3" *ngFor="let item of trendyProducts | paginate
  : {
      itemsPerPage: itemsPerPage,
      currentPage: page,
      totalItems: totalItems
    }">
    <div routerLink="/details/{{item.id}}" class="product-item" style="cursor: pointer;">
      <img  src="{{item.image}}" alt="">
    <div class="product-details">
      <h6 class="name-head">{{item.name}}</h6>
      <div class="product-price">
        <h6><span style="font-weight: bold;"> Price:</span>{{item.price}}</h6>
      </div>
      <div class="product-color">
        <h6><span style="font-weight: bold;">Color:</span>{{item.color}}</h6>
      </div>
    </div>
    <div class="product-footer">
      <a style="text-decoration: none;">View Details</a>
      <a style="text-decoration: none;" >Add to Cart</a>
    </div>
    </div>
  </div>
</div>
<pagination-controls
  class="pagi"
  (pageChange)="calculateIndices((page = $event))"
></pagination-controls>

</div>


